<ul class="unlistify flex">
  <li>
    <a href="{{ path('forum_list') }}" class="tab {{ active == 'forums' ? 'tab--active' }}">
      {{- 'nav.forums'|trans -}}
    </a>
  </li>
  <li>
    <a href="{{ path('forum_tags') }}" class="tab {{ active == 'tags' ? 'tab--active' }}">
      {{ 'label.tags'|trans }}
    </a>
  </li>
</ul>
